/* Basic CSS Boiler Plate */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
  margin: 0;
  display: block;
  padding: 10px;
  max-width: 1250px;
}

a {
  color: #08c;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
}

h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

/* Nav Bar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

li {
  list-style: none;
  padding: 2px;
}

.nav-wrapper {
  height: 80px;
}

.top-nav {
  background-color: Black;
  color: white;
  max-height: 32px;
}

.bottom-nav {
  background-color: white;
  color: darkgray;
}

/* Hero Article styling */

.flex-hero {
  display: flex;
  border: 1px solid black;
  width: 100%;
  min-height: 75vh;
  gap: 10px;
}

.hero-1 {
  flex: 2;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-between;
  gap: 10px;
}

.hero-2-top,
.hero-2-bottom {
  border: 1px solid black;
}

@media screen and (max-width: 700px) {
  .flex-hero {
    flex-direction: column;
  }

  .hero-1 {
    flex: 1;
  }
  .hero-2 {
    flex: 2;
  }

  .hero-1-top {
    display: none;
  }

  .hero-1-bottom {
    height: 100%;
  }

  .hero-2-top,
  .hero-2-bottom {
    border: 1px solid black;
    height: 50%;
  }

  h1,
  h2,
  h4 {
    font-size: 24px;
  }
}
